<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:rim="http://www.blackberry.com/ns/widgets" version="2.0.0.0" id="geogryph" xml:lang="en">

	<author href="http://cmer.uoguelph.ca/" rim:copyright="Copyright 1998-2012 University of Guelph" email="dvijayak@uoguelph.ca">Daniel Vijayakumar</author>
	<license href="http://cmer.uoguelph.ca/"/>
	<name>GeoGrpyh</name>
	<description>An geolocation app for students of the University of Guelph</description>
	
	<content src="index.html" rim:allowInvokeParams="true"/>
	
	<!-- Permissions -->
	<rim:permissions>
		<rim:permit>read_geolocation</rim:permit>
	</rim:permissions>
	
	<!-- Special BB properties -->
	<rim:orientation mode="portrait"/>
	<rim:loadingScreen backgroundColor="#AAA000" onLocalPageLoad="true">
		<rim:transitionEffect type="zoomIn"/>
	</rim:loadingScreen>	
	
	<!-- Features -->
	<feature id="blackberry.identity" required="true" version="1.0.0.0"/>
	<feature id="blackberry.ui.dialog"/>
	
	<!-- External resources -->
	<access uri="*" subdomains="true"></access>
	
	<!-- Splash Screens and Icons -->
	<rim:splash src="img/cmer_768x1280.png"/>
	<icon src="img/icon.png"/>
	
</widget>