html { height: 100% }
body { height: 100%; margin: 0; padding: 0; }


select, input
{
	padding-top: 18px;
	padding-bottom: 18px;	
}



#main_container 
{ 
	width: 100%;
	height: 100%; 		
}

#toolbar_container
{
	width: 700px;
}

#toolbar
{			
	position: fixed;
	z-index: 1000;
	width: 100%;	
	bottom: 0;			
	margin: 0;	
	padding: 0;
	/* padding: 5px; */
	background-color: #313131;
	
}

#toolbar a
{		
	/* padding: 20px; */
	width: 64px;
	height: 64px;
	font-family: 'Carrois Gothic';
	color: #EEEECE;	
	font-size: 1.2em;
	text-decoration: none;		
	text-shadow: 1px 1px #313131;	
}

#toolbar a:hover, #toolbar a:active, select:active
{
	color: #313131;
	background-color: #EEEECE;	
	text-shadow: none;
}

/** button images **/
#me
{
	background: url('img/resized/me.png');
	background-position: center center;
	background-repeat: no-repeat;
}
#me:hover, #me:active
{
	background-image: url('img/resized/me_selected.png');
}

#plot
{
	background-image: url('img/resized/plot.png');
	background-position: center center;
	background-repeat: no-repeat;
}
#plot:hover, #plot:active
{
	background-image: url('img/resized/plot_selected.png');
}

#save
{
	background-image: url('img/resized/save.png');
	background-position: center center;
	background-repeat: no-repeat;
}

#save:hover, #save:active
{
	background-image: url('img/resized/save_selected.png');
}

#clear
{
	background-image: url('img/resized/clear.png');
	background-position: center center;
	background-repeat: no-repeat;
}
#clear:hover, #clear:active
{
	background-image: url('img/resized/clear_selected.png');
}

#go
{
	background-image: url('img/resized/go.png');
	background-position: center center;
	background-repeat: no-repeat;
}
#go:hover, #go:active
{
	background-image: url('img/resized/go_selected.png');
}

#check
{
	background-image: url('img/resized/check.png');
	background-position: center center;
	background-repeat: no-repeat;
}
#check:hover, #check:active
{
	background-image: url('img/resized/check_selected.png');
}


#map_canvas 
{ 	
	padding: 0;
	width: 100%;
	height: 100%;	
}

.geo_theme
{
	font-family: 'Carrois Gothic';
	color: #EEEECE;	
	font-size: 1.2em;
	text-decoration: none;		
	text-shadow: 1px 1px #313131;	
	background-color: #313131;
}

.left
{
	float: left;
}

.right
{
	float: right;
}